obj/Debug/netstandard2.0/HttpClientWrapper.assets.cache
bin/Debug/netstandard2.0/HttpClientWrapper.dll
bin/Debug/netstandard2.0/HttpClientWrapper.pdb
bin/Debug/netstandard2.0/HttpClientWrapper.deps.json
obj/HttpClientWrapper.csproj.nuget.cache
obj/HttpClientWrapper.csproj.nuget.g.props
obj/HttpClientWrapper.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netstandard2.0/HttpClientWrapper.dll
obj/Debug/netstandard2.0/HttpClientWrapper.pdb
obj/Debug/netstandard2.0/HttpClientWrapper.AssemblyInfo.cs
obj/Debug/netstandard2.0/HttpClientWrapper.AssemblyInfoInputs.cache
obj/Debug/netstandard2.0/HttpClientWrapper.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.0/HttpClientWrapper.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.0/HttpClientWrapper.csprojAssemblyReference.cache
